#home-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#home-page #main-container {
  position: absolute;
  left: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#home-page #main-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
#home-page #main-container h3 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
}
#home-page #main-container #home-icon-holder i {
  color: #f5b73b;
  font-size: 60px;
  margin: 0 40px;
  transition: 0.2s ease-in-out;
}
#home-page #main-container #home-icon-holder i:hover {
  color: #7b7a75;
  transform: scale(1.1);
}
#home-page #home-picture {
  position: absolute;
  width: 35vw;
  height: 100vh;
  top: 0;
  right: 150px;
}
#home-page .line-across {
  background-color: #f5b73b;
  height: 100vh;
  width: 5px;
  position: fixed;
  right: 60px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home-page .line-across i {
  font-size: 50px;
  color: #f5b73b;
  cursor: pointer;
}

#about-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#about-page #about-picture {
  position: absolute;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#about-page #greeting {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  margin-bottom: 20px;
}
#about-page #greeting .yellow-line {
  background-color: #f5b73b;
  width: 5px;
  height: 100px;
}
#about-page #greeting .fa-user {
  font-size: 60px;
  color: #f5b73b;
}
#about-page #greeting h5 {
  font-weight: bold;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}
#about-page #about-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40vw;
  margin-bottom: 100px;
}
#about-page #about-me .yellow-line {
  background-color: #f5b73b;
  width: 5px;
  height: 100px;
}
#about-page #about-me p {
  width: 91.5%;
  font-family: "Playfair Display", serif;
  line-height: 25px;
  font-size: 18px;
}
#about-page #skills {
  background-color: #f5b73b;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about-page #skills i {
  font-size: 80px;
  margin: 0 40px;
}

#experience-page #experience-picture {
  position: absolute;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#experience-page .experience-container {
  position: relative;
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#experience-page .education {
  position: absolute;
  top: 50px;
  left: 120px;
}
#experience-page .education__bachelor {
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}
#experience-page .education__bachelor .school {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
#experience-page .education__bachelor .title {
  font-size: 18px;
}
#experience-page .education__bachelor .degree {
  font-size: 14px;
  font-style: italic;
  font-family: "Playfair Display", serif;
}
#experience-page .education__master {
  border-bottom: 2px solid white;
}
#experience-page .education__master .school {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
#experience-page .education__master .title {
  font-size: 18px;
}
#experience-page .education__master .degree {
  font-size: 14px;
  font-style: italic;
  font-family: "Playfair Display", serif;
}
#experience-page .certificate {
  position: absolute;
  bottom: 20px;
  left: 320px;
  width: 350px;
}
#experience-page .certificate .one,
#experience-page .certificate .two,
#experience-page .certificate .three,
#experience-page .certificate .four,
#experience-page .certificate .five,
#experience-page .certificate .six,
#experience-page .certificate .seven {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}
#experience-page .certificate .one .from,
#experience-page .certificate .two .from,
#experience-page .certificate .three .from,
#experience-page .certificate .four .from,
#experience-page .certificate .five .from,
#experience-page .certificate .six .from,
#experience-page .certificate .seven .from {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
#experience-page .certificate .one .for,
#experience-page .certificate .two .for,
#experience-page .certificate .three .for,
#experience-page .certificate .four .for,
#experience-page .certificate .five .for,
#experience-page .certificate .six .for,
#experience-page .certificate .seven .for {
  font-size: 14px;
}
#experience-page .certificate .one .in,
#experience-page .certificate .two .in,
#experience-page .certificate .three .in,
#experience-page .certificate .four .in,
#experience-page .certificate .five .in,
#experience-page .certificate .six .in,
#experience-page .certificate .seven .in {
  font-style: italic;
  font-size: 14px;
}
#experience-page .past-experience {
  position: absolute;
  top: 50px;
  left: 820px;
}
#experience-page .past-experience .exp-one,
#experience-page .past-experience .exp-two {
  margin-bottom: 50px;
  border-bottom: 2px solid white;
}
#experience-page .past-experience .exp-one .where,
#experience-page .past-experience .exp-two .where {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
#experience-page .past-experience .exp-one .job-title,
#experience-page .past-experience .exp-two .job-title {
  font-size: 18px;
}
#experience-page .past-experience .exp-one .date,
#experience-page .past-experience .exp-two .date {
  font-size: 14px;
  font-style: italic;
  font-family: "Playfair Display", serif;
}
#experience-page .it-experience {
  position: absolute;
  bottom: 250px;
  left: 1020px;
}
#experience-page .it-experience .where {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
#experience-page .it-experience .job-title {
  font-size: 18px;
}
#experience-page .it-experience .date {
  font-size: 14px;
  font-style: italic;
  font-family: "Playfair Display", serif;
}
#experience-page .education-symbol,
#experience-page .cert-symbol,
#experience-page .pe-symbol,
#experience-page .ie-symbol {
  position: absolute;
  z-index: 1;
  background-color: #f5b73b;
  padding: 10px;
  font-size: 26px;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
#experience-page .education-symbol {
  left: 80px;
}
#experience-page .cert-symbol {
  left: 280px;
}
#experience-page .pe-symbol {
  left: 780px;
}
#experience-page .ie-symbol {
  left: 980px;
}
#experience-page .horizontal.line {
  position: absolute;
  height: 5px;
  width: 90vw;
  background-color: #f5b73b;
}
#experience-page .vertical.line {
  position: absolute;
  width: 5px;
  height: 50vh;
  background-color: #f5b73b;
}
#experience-page .vertical.line.one {
  top: 0;
  left: 100px;
}
#experience-page .vertical.line.two {
  bottom: 0;
  left: 300px;
}
#experience-page .vertical.line.three {
  top: 0;
  left: 800px;
}
#experience-page .vertical.line.four {
  bottom: 0;
  left: 1000px;
}

#projects-page {
  width: 100vw;
  height: 100vh;
}
#projects-page h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  position: absolute;
  left: 45%;
  margin-top: 15px;
}
#projects-page #projects-picture {
  position: absolute;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
#projects-page .page-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects-page .page-container .project-one,
#projects-page .page-container .project-two,
#projects-page .page-container .project-three,
#projects-page .page-container .project-four {
  background-color: rgba(123, 122, 117, 0.4);
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
#projects-page .page-container .project-one #blackjack-img,
#projects-page .page-container .project-one #countries-img,
#projects-page .page-container .project-one #hangman-img,
#projects-page .page-container .project-one #heroes-img,
#projects-page .page-container .project-two #blackjack-img,
#projects-page .page-container .project-two #countries-img,
#projects-page .page-container .project-two #hangman-img,
#projects-page .page-container .project-two #heroes-img,
#projects-page .page-container .project-three #blackjack-img,
#projects-page .page-container .project-three #countries-img,
#projects-page .page-container .project-three #hangman-img,
#projects-page .page-container .project-three #heroes-img,
#projects-page .page-container .project-four #blackjack-img,
#projects-page .page-container .project-four #countries-img,
#projects-page .page-container .project-four #hangman-img,
#projects-page .page-container .project-four #heroes-img {
  width: 260px;
  height: 160px;
}
#projects-page .page-container .project-one .text-container,
#projects-page .page-container .project-two .text-container,
#projects-page .page-container .project-three .text-container,
#projects-page .page-container .project-four .text-container {
  padding: 20px;
  width: 550px;
}
#projects-page .page-container .project-one .text-container .app-title,
#projects-page .page-container .project-two .text-container .app-title,
#projects-page .page-container .project-three .text-container .app-title,
#projects-page .page-container .project-four .text-container .app-title {
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
#projects-page .page-container .project-one .text-container .app-desc,
#projects-page .page-container .project-two .text-container .app-desc,
#projects-page .page-container .project-three .text-container .app-desc,
#projects-page .page-container .project-four .text-container .app-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
#projects-page .page-container .project-one .btn-container,
#projects-page .page-container .project-two .btn-container,
#projects-page .page-container .project-three .btn-container,
#projects-page .page-container .project-four .btn-container {
  padding: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#projects-page .page-container .project-one .btn-container a,
#projects-page .page-container .project-two .btn-container a,
#projects-page .page-container .project-three .btn-container a,
#projects-page .page-container .project-four .btn-container a {
  text-decoration: none;
  color: #000000;
  width: 80px;
  height: 60px;
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  background-color: #f5b73b;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
#projects-page .page-container .project-one .btn-container a:hover,
#projects-page .page-container .project-two .btn-container a:hover,
#projects-page .page-container .project-three .btn-container a:hover,
#projects-page .page-container .project-four .btn-container a:hover {
  background-color: #7b7a75;
  transform: scale(1.1);
  color: #f5b73b;
  box-shadow: 0px 5px 15px 0px #000000;
}
#projects-page .project-index-container {
  height: 90%;
}
#projects-page .project-index-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
#projects-page .project-index-container .container {
  display: grid;
  grid-template: 200px 200px 200px/100%;
  gap: 10px;
}
#projects-page .project-index-container .container .react-projects,
#projects-page .project-index-container .container .html-css-projects,
#projects-page .project-index-container .container .javascript-projects {
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
#projects-page .project-index-container .container .react-projects a,
#projects-page .project-index-container .container .html-css-projects a,
#projects-page .project-index-container .container .javascript-projects a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  transition: 0.2s ease-in-out;
}
#projects-page .project-index-container .container .react-projects a:hover,
#projects-page .project-index-container .container .html-css-projects a:hover,
#projects-page .project-index-container .container .javascript-projects a:hover {
  transform: scale(1.2);
  border-bottom: 1px solid black;
  background-color: rgba(231, 231, 231, 0.5);
  border-radius: 15px;
}
#projects-page .project-index-container .container .react-projects i,
#projects-page .project-index-container .container .html-css-projects i,
#projects-page .project-index-container .container .javascript-projects i {
  font-size: 100px;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navigator {
  background-color: #f5b73b;
  width: 100px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 1;
}
#navigator a {
  background-color: #7b7a75;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 0;
}
#navigator .__home,
#navigator .__about,
#navigator .__exp,
#navigator .__projects {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 12px;
}
#navigator #top-left-menu {
  position: absolute;
  left: 40px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#navigator #top-left-menu #language-selector {
  display: flex;
}
#navigator #top-left-menu #language-selector p {
  margin: 20px 0px;
  padding: 10px 15px;
  background-color: #7b7a75;
  border-radius: 25px 0 0 25px;
  width: 60px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#navigator #top-left-menu #language-selector p:hover {
  background-color: black;
  color: white;
}
#navigator #top-left-menu #language-selector .selected-language {
  background-color: #f5b73b;
  border-radius: 0 25px 25px 0;
}
#navigator #top-left-menu .theme-selector {
  display: flex;
}
#navigator #top-left-menu .theme-selector i {
  padding: 12px;
  background-color: #7b7a75;
  border-radius: 25px 0 0 25px;
  cursor: pointer;
}
#navigator #top-left-menu .theme-selector i:hover {
  background-color: black;
  color: white;
}
#navigator #top-left-menu .theme-selector .selected-theme {
  background-color: #f5b73b;
  border-radius: 0 25px 25px 0;
}

/*# sourceMappingURL=style.css.map */
