@import '../absract/variables';

@media (max-width: $width-s) {
    #home-page {
        #main-container {
            h1 {
                font-size: 30px;
                width: 250px;
                text-align: center;
            }
            #home-icon-holder {
                i {
                    font-size: 50px;
                    margin: 0 20px;
                }
            }
        }
        #home-picture {
            left: 0;
            right: 0;
            width: 100vw;
            opacity: 0.3;
            z-index: -1;
        }
        .line-across {
            display: none;
        }
    }
    #about-page {
        #greeting {
            width: 60vw;
            margin: 0 0 20px 80px;
            .fa-user {
                font-size: 40px;
                margin: 0 10px;
            }
            h5 {
                font-size: 20px;
            }
        }
        #about-me {
            width: 60vw;
            margin: 0 0 50px 70px;
            .yellow-line {
                width: 3px;
            }
            p {
                font-size: 14px;
            }
        }
        #skills {
            i {
                font-size: 40px;
                margin: 0 0 0 40px;
            }
        }
    }
    #experience-page {
        .education {
            left: 150px;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
        .certificate {
            top: 150px;
            left: 150px;
            width: 60%;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
        .past-experience {
            left: 150px;
            top: 350px;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
        .it-experience {
            left: 150px;
            top: 600px;
            opacity: 0;
            transition: 0.2s ease-in-out;
        }
        .horizontal.line,
        .vertical.line.two,
        .vertical.line.three,
        .vertical.line.four {
            display: none;
        }
        .vertical.line.one {
            height: 100vh;
        }
        .education-symbol {
            top: 150px;
            cursor: pointer;
            &:hover ~ .education{
                opacity: 1;
            }
        }
        .cert-symbol {
            top: 300px;
            left: 80px;
            cursor: pointer;
            &:hover ~ .certificate{
                opacity: 1;
            }
        }
        .pe-symbol {
            top: 450px;
            left: 80px;
            cursor: pointer;
            &:hover ~ .past-experience{
                opacity: 1;
            }
        }
        .ie-symbol {
            top: 600px;
            left: 80px;
            cursor: pointer;
            &:hover ~ .it-experience{
                opacity: 1;
            }
        }
    }
    #projects-page {
        h2 {
            position: relative;
            margin: auto;
        }
        .page-container {
            width: 80%;
            flex-direction: column;
            margin: 0 0 0 100px;
            .project-container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .project-one,
                .project-two,
                .project-three,
                .project-four {
                    flex-direction: column;
                    #blackjack-img,
                    #countries-img,
                    #hangman-img,
                    #heroes-img {
                        display: none;
                    }
                    .text-container {
                        padding: 0;
                        width: auto;
                        .app-title {
                            padding: 5px;
                        }
                        .app-desc {
                            display: none;
                        }
                    }
                    .btn-container {
                        flex-direction: row;
                        padding: 0;
                    }
                }
            }
            .project-index-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 15px;
                .container {
                    grid-template: 150px / 100px 100px 100px;
                    .react-projects,
                    .html-css-projects,
                    .javascript-projects {
                        a {
                            font-size: 14px;
                        }
                        i {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
    footer {
        div {
            width: 70%;
            margin-left: 60px;
        }
    }
}
