$orange-color: #f5b73b;
$grey-color: #7b7a75;
$l-blue-color: #80ceff;
$font-primary: 'Playfair Display', serif;
$font-secondary: 'Montserrat', sans-serif;

// ----- MEDIA QUERIES -----
$width-s: 768px;
$width-m: 1250px;