@import './absract/variables';
@import './pages/home', './pages/about', './pages/experience', './pages/projects', './pages/footer';

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 1px solid black;
}

#navigator {
    background-color: var(--accent);
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    a {
        background-color: var(--base);
        height: 35px;
        width: 35px;
        border-radius: 50%;
        cursor: pointer;
        margin: 10px 0;
        transition: 0.1s ease-in-out;
        &:hover {
            transform: scale(1.2);
            background-color: var(--flat);
        }
    }
    .__home,
    .__about,
    .__exp,
    .__projects {
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 12px;
        color: var(--base);
    }

    #top-left-menu {
        position: absolute;
        left: 100px;
        top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .theme-selector {
            position: relative;
            background-color: var(--accent);
            border-radius: 25px;
            i {
                position: absolute;
                padding: 12px;
                cursor: pointer;
                background-color: #7b7a75;
                transition: 0.2s ease-in-out; 
            }
            .selected-theme {
                background-color: var(--accent);
                transform: translateY(-40px);
            }
        }
    }
}

@import './media/media-s';

