@import '../absract/variables';

#about-page {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    #about-picture {
        position: absolute;
        opacity: 0.3;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }
    #greeting {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
        margin-bottom: 20px;
        .yellow-line {
            background-color: $orange-color;
            width: 5px;
            height: 100px;
        }
        .fa-user {
            font-size: 60px;
            color: $orange-color;
        }
        h5 {
            font-weight: bold;
            font-size: 25px;
            font-family: $font-secondary;
        }
    }
    #about-me {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40vw;
        margin-bottom: 100px;
        .yellow-line {
            background-color: $orange-color;
            width: 5px;
            height: 100px;
        }
        p {
            width: 91.5%;
            font-family: $font-primary;
            line-height: 25px;
            font-size: 18px;
        }
    }
    #skills {
        background-color: $orange-color;
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 80px;
            margin: 0 40px;
        }
    }
}