@import '../absract/variables';

#experience-page {
    background-color: var(--flat);
    #experience-picture {
        position: absolute;
        opacity: 0.3;
        width: 100vw;
        height: 100vh;
    }
    .experience-container {
        position: relative;
        width: 90%;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .education {
        position: absolute;
        top: 50px;
        left: 120px;
        color: var(--base);
        &__bachelor {
            border-bottom: 2px solid var(--flat);
            margin-bottom: 50px;
            .school {
                font-weight: bold;
                font-size: 18px;
                font-family: $font-secondary;
            }
            .title {
                font-size: 18px;
            }
            .degree {
                font-size: 14px;
                font-style: italic;
                font-family: $font-primary;
            }
        }
        &__master {
            border-bottom: 2px solid var(--flat);
            .school {
                font-weight: bold;
                font-size: 18px;
                font-family: $font-secondary;
            }
            .title {
                font-size: 18px;
            }
            .degree {
                font-size: 14px;
                font-style: italic;
                font-family: $font-primary;
            }
        }
    }
    .certificate {
        position: absolute;
        bottom: 20px;
        left: 320px;
        width: 350px;
        color: var(--base);
        .one,
        .two,
        .three,
        .four,
        .five,
        .six,
        .seven {
            display: flex;
            justify-content: space-between;margin-bottom: 10px;
            border-bottom: 2px solid var(--flat);
            .from {
                font-weight: bold;
                font-family: $font-secondary;
                font-size: 16px;
            }
            .for {
                font-size: 12px;
            }
            .in {
                font-style: italic;
                font-size: 14px;
            }
        }
    }
    .past-experience {
        position: absolute;
        top: 50px;
        left: 820px;
        color: var(--base);
        .exp-one,
        .exp-two {
            margin-bottom: 50px;
            border-bottom: 2px solid var(--flat);
            .where {
                font-weight: bold;
                font-size: 18px;
                font-family: $font-secondary;
            }
            .job-title {
                font-size: 18px;
            }
            .date {
                font-size: 14px;
                font-style: italic;
                font-family: $font-primary;
            }
        }
    }
    .it-experience {
        position: absolute;
        bottom: 250px;
        left: 1020px;
        color: var(--base);
        .where {
            font-weight: bold;
            font-size: 18px;
            font-family: $font-secondary;
        }
        .job-title {
            font-size: 18px;
        }
        .date {
            font-size: 14px;
            font-style: italic;
            font-family: $font-primary;
        }
    }
    .education-symbol,
    .cert-symbol,
    .pe-symbol,
    .ie-symbol {
        position: absolute;
        z-index: 1;
        background-color: var(--accent);
        padding: 10px;
        font-size: 26px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        color: var(--base);
    }
    .education-symbol {
        left: 80px;
    }
    .cert-symbol {
        left: 280px;
    }
    .pe-symbol {
        left: 780px;
    }
    .ie-symbol {
        left: 980px;
    }
    .horizontal.line {
        position: absolute;
        height: 5px;
        width: 90vw;
        background-color: var(--accent);
    }
    .vertical.line {
        position: absolute;
        width: 5px;
        height: 50vh;
        background-color: var(--accent);
    }
    .vertical.line.one {
        top: 0;
        left: 100px;
    }
    .vertical.line.two {
        bottom: 0;
        left: 300px;
    }
    .vertical.line.three {
        top: 0;
        left: 800px;
    }
    .vertical.line.four {
        bottom: 0;
        left: 1000px;
    }
}